* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #012642;
    color: antiquewhite;
    font-family: helvetica;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1D232A;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo {
    height: 100%;
}

nav {
    width: 50%;
    height: 100%;
}

#navegador {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
    height: 100%;
}

#navegador li {
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

main {
    padding-top: 100px;
}

#home-sec {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
    color: #1D232A;
}

#image {
    margin-top: 10px;
}

h1, #descrip {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

.info {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 1em 0 5px 0;
}

#tribute-info {
    background-color: #1D232A;
    padding: 0 0 50px 0;
    width: 90%;
    margin: auto;
}

.bio-info {
    display: flex;
    background-color:antiquewhite;
    width: 90%;
    margin: auto;
    color: #1D232A;
}

.texto {
    width: 100%;
    font-size: 0.9em;
    margin: 14px 0 14px 14px;
}

.publi-title {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 90%;
    margin: auto;
}


.title-1 {
    width: 40%;
}

.title-1 li {
    padding: 0.4em 0;
}

.premio-title {
    width: 90%;
    margin: auto;
}

.premio-title li {
    width: 90%;
    margin: auto;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #1D232A;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 1em 0;
}