* {
    scroll-behavior: smooth;
}

body {
    background-color: #012642;
    color: antiquewhite;
    font-family: helvetica;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1D232A;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo {
    height: 100%;
}

nav {
    width: 50%;
    height: 100%;
}

#navegador {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
    height: 100%;
}

#navegador li {
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}