* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #eee;
    font-family: Lato, sans-serif;
}

#page-wrapper {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

.logo {
    width: 60vw;
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

nav {
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    color: #000;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#features {
    margin-top: 30px;
}

.grid {
    display: flex;
}

#features, .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

#features, .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}

iframe {
    overflow-clip-margin: content-box !important;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > h2 {
    margin-top: 15px;
}

product > ul {
    margin: 15px 0;
}

ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.product > ul > li {
    padding: 5px 0;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer > ul > li {
    padding: 0 10px;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;

}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

@media only screen and (max-width: 700px) {
    ul {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}